/* .bg-dark{
    background-color: #343a40;
}

.py-5{
    padding: 3rem 0px !important;
}

.pl-5{
    color: #fff;
    padding: 48px;
    margin: 0px 0px 16px;
}
p{
    margin-top: 0px;
    margin-bottom: 1rem;
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        unicode-bidi: isolate;
    } */
