<nav class="navbar navbar-expand-lg navbar-light  bg-dark">
    <div class="container">
        <img src="https://i.pinimg.com/originals/15/aa/cd/15aacda7b47201403e2b2f58acf72067.png" width="60" />
        &nbsp;&nbsp;&nbsp;
        <a routerLink="productos" class="navbar-brand text-white">Tienda para el hogar</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">

            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active mx-3">
                    <a routerLink="productos" class="nav-link text-white">Productos</a>
                </li>
                <li class="nav-item active mx-3">

                    <a routerLink="card" class="nav-link text-white">
                       <i class="fa fa-shopping-cart" aria-hidden="true"></i> Carrito</a>
                </li>
                <li class="nav-item active mx-3">

                    <a routerLink="card" class="nav-link text-white">
                        <i class="fa fa-shopping-bag" aria-hidden="true"></i> Checkout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>



