<div class="container mt-5">
    <div *ngIf="!isLoaded" class="row mt-5">
        <div class="col-md-12 text-center mt-5">
            <i class="fas fa-spinner fa-spin fa-3x text-dark mt-5"></i>
        </div>
    </div>

    <section *ngIf="isLoaded">
        <h2 class="text-center font-italic mb-3">Bienvenido a nuestra tienda Online</h2>
        <div class="container py-5">
            <input type="search" [(ngModel)]="term" class="form-control w-50 m-auto"
                placeholder="Busca tu producto favorito!">
        </div>
    </section>
    <br>
    <section *ngIf="isLoaded" class="container mt-4 aa">
        <div class="row">
            <div class="col-md-3 py-5">
                <div class="firstRow w-25"></div>
                <h3>Productos mas populares de la temporada</h3>
                <p>Disfruta de la mejor tienda con la mejor experiencia!</p>
                <div class="firstRow"></div>
            </div>

            <div class="col-md-3 my-4 brdPro" *ngFor="let product of allProducts|search:term; let i = index">
                <div class="product position-relative p-2 pro">
                    <a [routerLink]='["/details" , i]'>
                        <img src="{{product.image}}" class="w-100">
                        <br> <br>
                        <h6 class="text-center my-2">{{product.title | uppercase}}</h6>
                        <span class="badge badge-warning p-2 price text-white">{{product.price | currency:
                            'Bs.'}}</span>
                        <span class="badge spanCat p-2 text-white ml-1">
                            {{product.category}}
                        </span>
                    </a>

                    <a (click)="getData(product)" class="btn btn-primary mt-2 ml-2 card">Añádir al carrito</a>
                </div>
            </div>
        </div>
    </section>
</div>